.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
both_emps.rds
both_pay.png
both_pay.rds
hpi_hist.csv
monthly_sales_hist.xlsx
old_annual_sales.xlsx
old_sales.xlsx
pop_hist.xlsx
population_table.xlsx
pull_rest_of_data.Rmd
recent_annual_sales.xlsx
recent_sales.xlsx
robbis_moody_script.Rmd
robbis_moody_script.html
uturs
uturs.rds
